:root {
    --color-primary:  #edb32e;
}

body {
    background-color: #f7f7f7;
    font-family:Roboto;
    margin:0;
}

span[role=button], div[role=button]{
    cursor: pointer;
}


@media (max-width: 600px) {
    body{
    margin:10px;
    }
  }
